mixin faq-toggle(datas, cat)
  each data in datas
    if data.cat == cat
      .toggle.faq-toggle.faq-toggle__design
        h3.toggle__trigger.faq-toggle__trigger!=data.title
          i.icon-md.toggle__trigger-icon.faq-toggle__trigger-icon.material-icons-outlined(data-icon='expand_circle_down')
        .toggle__content.faq-toggle__content!=data.content

mixin section-faq()
  section.section.section-faq#section-faq
    #particles-bg6.particle-right.hidden-middle
    .wrap__inner
      .center(data-aos="fade-up" data-aos-duration="1200")
        h2.section-title FAQ
      div(data-aos="fade-up" data-aos-duration="1400")
        +faq-toggle(faq_data, '常見問題')
