mixin section-kv()
  section.section.section-kv
    .wrap__inner-kv

  section.section.section-news#section-news
    .wrap__inner
      .center
        .section-title 最新消息
      .news#news-container


  //- section.section.section-news#section-news
    .wrap__inner
      .center
        .section-title 最新消息
      .news
        .news-wrap
          .date 2023/12/15
          .text 說明會將於2024/3/6登場，報名方式請至104人力銀行報名！報名方式請至104人力銀行報名！
        .news-wrap
          .date 2023/12/12
          .text 開放收件，即日起至2024/3/16截止！開放收件，即日起至2024/3/16截止！
        .news-wrap
          .date 2023/12/11
          .text 永豐2024策略人才招募計畫即將展開，敬請期待！開放收件，即日起至2024/3/16截止！
        .news-wrap
          .date 2023/12/10
          .text 永豐2024策略人才招募計畫即將展開，敬請期待！開放收件，即日起至2024/3/16截止！
        .news-wrap
          .date 2023/12/05
          .text 永豐2024策略人才招募計畫即將展開，敬請期待！開放收件，即日起至2024/3/16截止！