mixin section-notice()
  section.section.section-notice
    .wrap__inner.toggle
      h2.toggle__trigger.heading2.notice-title 警語
        //- i.icon-xxl.toggle__trigger-icon.material-icons(data-icon='add')
      .notice-container.toggle__content
        ul.notice-list
          li 信託財產應依「永豐商業銀行辦理特定金錢信託受託投資申請書」（以下簡稱「投資申請書」，且以永豐銀行所提供或規定之格式為限）或其他約定方式所載並經永豐銀行同意收受之信託資金為限，嗣後因管理、處分、滅失、毀損或其他事由取得之財產權亦屬之。
          li 前項信託資金之種類、名稱、數量及價額，應符合相關法令及永豐銀行有關最低金額、幣別等之規定。
          li 客戶逐次填具相關之「投資申請書」或以雙方同意之方式指定投資標的，且須經永豐銀行同意後辦理。
          li 「信託資金」係指委託人為具體特定之運用指示受託人投資國內外標的而交付之信託款項，不同於委託人之存款，並不受存款保險條例、保險安定基金或其他保障機制之保障範圍。
          li 投資基金並非存款，受託人除應盡善良管理人之注意義務外，並不保證本信託資金盈虧及最低收益。委託人投資標的及投資地區可能產生之風險，包括但不限於類股過度集中風險、產業景氣循環風險、流動性風險、市場風險（投資地區政治及經濟變動、外匯管制及匯率變動、社會變動、利率、股價、指數或其他標的資產價格波動）、信用風險、投資結構式商品之風險、證券相關商品交易及其他投資標的或特定投資策略等風險。因上述風險致客戶大量贖回或基金暫停計算贖回價格等因素，或有延遲給付贖回價金之可能，委託人皆不得以任何理由要求受託人分擔損失。
          li 部分基金公司為保護投資人權益，設有公平價格調整機制或反稀釋機制。當市場發生高波動或低流通性事件，或基金經理人需買賣有價證券以因應投資人大量申購或贖回；為保護持有該基金投資人之權益，基金公司將啟動公平價格調整機制或反稀釋機制，對基金淨值進行調整，調整幅度將依各基金公司的規定而有不同。
          li.fc-pink 非投資等級債券基金（本基金配息來源可能為本金）雖經金融監督管理委員會（以下稱金管會）核准，惟不表示絕無風險。由於非投資等級債券之信用評等未達投資等級或未經信用評等，且對利率變動的敏感度甚高，故基金可能會因利率上升、市場流動性下 降，或債券發行機構違約不支付本金、利息或破產而蒙受虧損，投資人應審慎評估。非投資等級債券基金不適合無法承擔相關風險之投資人，較適合投資屬性為穩健型等級以上之投資人，且以非投資等級債券為訴求之基金不宜占其投資組合過高之比重。非投資等級債券基金可能投資美國144A債券，該債券屬私募性質，易發生流動性不足，財務訊息揭露不完整或價格不透明導致高波動性之風險。
          li 投資新興市場，可能比投資已開發國家有較大之價格波動及流動性較低之風險，委託人應慎選投資標的。
          li 投資於中國之基金應依中華民國相關法令之規定，境外基金投資大陸地區證券市場之有價證券占該境外基金總投資之比率不得超過金管會所訂定之比率；國內投信基金投資大陸地區有價證券雖可包括其集中交易市場交易之股票、存託憑證或符合一定信用評等之債券等，且法令並無限制投資總金額比例，惟仍應符合信託契約、基金公開說明書、證券投資信託基金管理辦法等相關規定，同時須受基金公司QFII(合格境外機構投資者)額度之限制。另投資人申購時應留意中國市場政府政策、法令與會計稅務制度、經濟與相關市場變動所可能衍生之投資風險。
          li 委託人在申購前，應確實詳閱各信託契約、風險預告、基金公開說明書及投資人須知；並瞭解可能產生之風險，其中最大可能損失為損失所有本金及可能之配息。委託人因投資時間不同，投資績效表現亦有差異，過往之績效並不代表未來投資績效表現之保證。基金雖經金管會核准或同意生效，惟不表示絕無風險。基金經理公司以往之績效亦不保證經理基金之最低投資收益，基金經理公司除盡善良管理人之注意義務外，不負責基金之盈虧。本行受託投資之基金，已備妥基金公開說明書或投資人須知，委託人可至受託人營業處所索取或至基金公司網站或
            a.fc-yellow.underline(href="https://www.fundclear.com.tw/" target="_blank" rel="noopener noreferrer") 基金資訊觀測站
            | 下載。
          li 基金總報酬率包含淨值報酬率與配息率，基金配息率並不等同基金報酬率，且過去配息率亦不代表未來配息率；基金淨值除可能因市場因素而上下波動外，尚可能因配息政策而有所變動。
          li 投資人辦理特定金錢信託業務時，需瞭解並同意受託人可能得自交易對手之任何費用，均係作為受託人收取之信託報酬。
          li 有關基金應負擔之費用（含分銷費用）已揭露於基金之公開說明書及投資人須知中，投資人可至基金公司網站或
            a.fc-yellow.underline(href="https://www.fundclear.com.tw/" target="_blank" rel="noopener noreferrer") 基金資訊觀測站
            | 查詢。
          li 本風險揭露及預告僅列舉重要部分，無法對於所有基金投資風險及影響市場因素全部詳述。委託人於投資前須詳加研讀本風險揭露及預告，確實做好財務規劃與風險評估，並應審慎詳閱本行受託投資各基金所備之公開說明書及投資人須知，以免遭受難以承擔之損失。