-
  var faq_data = [
    {
      cat: '常見問題',
      title: '<p><span>Q1</span>請問非金融相關科系，也沒有相關經驗及證照，也可以報名嗎?​</p>',
      content: '<p>當然可以，只要對金融業有興趣，願意從頭扎根並發揮自我潛能，我們歡迎多元領域人才即刻加入永豐。​</p>'
    },
    {
      cat: '常見問題',
      title: '<p><span>Q2</span>請問MA跟PA的差別?我可以同時應徵嗎?​</p>',
      content: '<p>永豐MA主要以發展培養金融業領導管理梯隊；PA則以金融領域專家為培養重點。培訓及發展上，MA及PA都是永豐重視的關鍵人才。MA提供具國內外碩士以上學歷；PA僅提供國內外學士學歷專屬，兩者的職務內容及需求不同，建議多多瀏覽相關訊息，慎選投遞組別。​</p>'
    },
    {
      cat: '常見問題',
      title: '<p><span>Q3</span>因為在海外就學，無法於甄選期間返台參加面試，請問可以報名嗎?​</p>',
      content: '<p>若已確定無法參與，請直接永豐策略人才專案聯絡人聯繫說明原因，我們將視情況進行安排。​</p>'
    },
    {
      cat: '常見問題',
      title: '<p><span>Q4</span>請問錄取後因尚未退伍或尚在國外，可以有其他時間嗎?​</p>',
      content: '<p>永豐策略人才培訓於每年7月隨即展開，若確定無法於7月如期報到，請與永豐策略人才專案聯絡人聯繫，我們將視個別狀況進行安排。​</p>'
    },
    {
      cat: '常見問題',
      title: '<p><span>Q5</span>請問英文成績兩年的計算方式?若尚未取得英文成績，也可以報名嗎?​</p>',
      content: '<p>報名當下前2年內取得，即預計報名2024年策略人才計畫者，英文檢測成績應為2022年(含)後考取；英文能力檢測成績最遲應於當年度7月報到前提供。​</p>'
    },
    {
      cat: '常見問題',
      title: '<p><span>Q6</span>請問我要如何得知目前的甄選進度?​</p>',
      content: '<p>我們將隨時以Email通知是否進入下一階段，故請務必留下正確且最常使用的電子郵件。​</p>'
    },
  ]

  //- MA
  var ma_data = [
    {
      "order": 1,
      "group": "法人金融",
      "hashtag1": "策略開拓",
      "hashtag2": "海內外業務",
      "hashtag3": "永續金融",
      "intro": "國內外法人金融業務發展，如國內外企業授信、產品研發、服務平台整合創新及客戶經營等，企劃並執行業務推動。持續運用科技創新合作，並結合前中後台支援，提供客戶全方位的整合性法人金融服務。​",
      "session": "第一屆 MA 海外業務處",
      "nameTw": "林孟函",
      "nameEn": "Erin",
      "school": "國立中山大學 財務管理學研究所",
      "share": "永豐MA制度在期初就確定你所屬處室，在培訓時會依據所屬處室進行輪調，讓MA們可以在短時間內接觸所有與未來業務有關的單位、並有效率地了解各單位的職掌及運作。海外業務處主要負責永豐銀行各項海外業務，在加入成為MA後，讓我學習到不同國家及各式類型的授信案件，對比其他同業的法金MA同儕，能較早接觸海外市場及客戶，進而爭取到海外分行外派機會。如果你對銀行的法金有熱忱，也嚮往海外市場的各式挑戰，不妨立馬填下報名表，加入成為永豐海外業處的MA吧! "
    },
    {
      "order": 2,
      "group": "零售金融",
      "hashtag1": "數位轉型",
      "hashtag2": "友善金融",
      "hashtag3": "數據場景行銷​",
      "intro": "國內外零售業務發展，如分行端、產品研發、服務平台整合創新及客戶經營等。致力強化零售商品創新及客群經營，並加速推動數位化流程，建立完善金融生態圈，成為客戶最佳零售服務體驗銀行。​",
      "session": "第九屆 MA 零售金融處",
      "nameTw": "林宛瑜",
      "nameEn": "May",
      "school": "國立政治大學 經濟研究所",
      "share": "身為零售金融處的MA，從剛畢業的懵懂，到如今可以獨立負責專案，都離不開永豐對MA培訓制度的用心與投入。在培訓1.5年的時間裡，深刻感受到主管對我們的重視，在輪調期間我去了數位金融處、零售管理處，主管會依據我們的專長與能力，進行合適的職位安排，並且很願意放手讓我們負責重要專案，在過程中除了對金融商品有更完整的了解外，也增強了我對專案全局的掌握能力，相信選擇永豐MA計畫的你，同樣也能獲得豐富的成長與學習。"
    },
    {
      "order": 3,
      "group": "財富金融",
      "hashtag1": "智能理財",
      "hashtag2": "財富管家",
      "hashtag3": "普惠金融​",
      "intro": "財富管理業務發展，針對不同客群並運用客群數據，進行產品規劃研發、服務平台整合創新。透過客群經營，提供完善的金融產品及服務平台，進而滿足客戶需求及體驗價值的金融服務。",
      "session": "第八屆 MA 財富金融處",
      "nameTw": "施詠懷",
      "nameEn": "Johnny",
      "school": "國立中央大學 企業管理所",
      "share": "「同樣的招式第二次就無效了」，這並不只存在於漫畫，更是我工作的日常。我在財富金融處主要職責是對「內部前線以及外部顧客」的行銷，求新求變一直都是MA工作上最有成就也最有挑戰的課題，身為行銷企劃，必須在法規跟創意之間求平衡，太過前衛的與銀行的樣貌不符，但過於平淡的卻又無法搏人眼球，不過永豐的企業文化向來都不是單打獨鬥，大家一起激盪想法，除了能完成任務外更多了能一起成長的好夥伴，加入永豐MA，你也可以找到成長的夥伴與舞台!"
    },
    {
      "order": 4,
      "group": "數位金融",
      "hashtag1": "金融創新",
      "hashtag2": "場景金融",
      "hashtag3": "一站式金融​",
      "intro": "數位金融業務發展，包含數位帳戶、平台經營、客戶經營及支付整合應用管理等策略規劃與執行。滿足境內境外及線上線下支付服務，推動銀行整體數位金融發展進程，帶領消費者體驗金融科技的便利應用。​",
      "session": "第八屆 MA 數位金融處",
      "nameTw": "蔡芷琳",
      "nameEn": "Lynn",
      "school": "國立中山大學 企業管理所",
      "share": "永豐的MA培訓制度完善且全面，培訓過程中的輪調機制幫助我們快速了解更多元的業務，進一步拓展金融視野與資源。在數位金融處，除了專注於數位帳戶的產品與行銷規劃之外，也可以接觸數據分析、UIUX設計等多面向的業務。此外處內主管也給予MA參與行內大型專案的機會，讓我們有機會進行跨部門，甚至是跨子公司的合作。如果你也勇於接受挑戰且熱愛學習新知，一起加入永豐MA，打造專屬於你的舞台。"
    },
    {
      "order": 5,
      "group": "資本市場",
      "hashtag1": "資料建模",
      "hashtag2": "財富管家",
      "hashtag3": "普惠金融​",
      "intro": "運用多元外匯避險工具完善投資組合管理機制，及善用量化技術及程式開發能力，建構本行自動化交易平台、市場預測及風險控管，以達到長期穩定獲利之目標，進而擴展本行自營財務操作獲利來源。",
      "session": "第九屆 MA 金融市場處",
      "nameTw": "張力仁​",
      "nameEn": "Leon",
      "school": "<h4>University of Southampton <br/>Master of Science with Distinction in Risk and Finance</h4>",
      "share": "永豐的策略人才計畫，提供豐富扎實的培訓內容。在交易室期間，透過在不同交易桌的學習，更深入的了解股、匯、債的運作。除此之外透過跨單位論調的機會，對日後不管是商品研究與交易策略開發都有極大的幫助，並且在Mentor專業的協助與指導下，積極透過金融量化方式，尋找市場穩定潛在報酬機會。透過永豐的培訓輪調、單位Mentor及主管的栽培，讓像我海綿一樣不斷學習吸收，成長收穫無限大。"
    },
    {
      "order": 6,
      "group": "風險管理",
      "hashtag1": "數據應用",
      "hashtag2": "智能預測",
      "hashtag3": "銀行防護網​",
      "intro": "法人金融業務授信政策管理及全行風險管理政策，如授信流程控管、債權風險管理及全行業務風險監控規畫與執行，達到遵循法令、穩健經營、風險分散並追求風險與報酬最適化。",
      "session": "第五屆 MA 風險管理處",
      "nameTw": "洪嘉蔚",
      "nameEn": "Chiawei",
      "school": "國立中山大學 財務管理學研究所",
      "share": "銀行的各項業務與風險有著密不可分的關係，風險管理處因應國際法規及金融科技的演進，不乏參與大型專案的機會。2020年初甫到職不久，我便有幸參與金融史上的大事──LIBOR退場專案；2021年我帶著市場風險的經驗，跨領域參與建置銀行同業違約模型；2022年我進一步加入資產負債風險管理團隊，參與量化資產負債分析系統的建置。在參與專案的過程中，我不僅能同時接觸金融市場、法人金融及財務管理等多面向的業務，也有機會頻繁地與行內各單位或外部顧問交流，有助於培養宏觀的金融視野。風管處提供豐富的資源讓MA學習成長，只要用心挖掘，必能滿載而歸！"
    },
    {
      "order": 7,
      "group": "資訊科技",
      "hashtag1": "AI數位應用",
      "hashtag2": "流程自動化",
      "hashtag3": "科技賦能",
      "intro": "掌理全行資訊系統整體發展，如應用系統設計、運作管理及資源整合，推動以創新技術進行自動化作業，並同時監理全行資訊安全監控機制建立。有效驅動全行整體數位資訊發展，達到科技賦能、行動永豐之使命。​",
      "session": "第九屆 MA 資訊處",
      "nameTw": "陳韻竹",
      "nameEn": "Stellay",
      "school": "國立臺灣大學 財務金融學研究所",
      "share": "永豐策略人才計畫採定崗輪調制，讓我們一開始就鎖定有興趣的單位定崗，並到與定崗單位習習相關業務單位進行輪調學習，增加業務知識的深度與廣度。此外，永豐給予MA很大的舞台去提出與執行各項創新的提案，我有幸共同參與MA學長的提案協助執行落地，進而從中學習到如何進行專案管理、產品設計與規劃，並在協助的過程中收穫許多寶貴的實務經驗，幫助我快速學習與成長，也感受到永豐對於MA計畫投入的資源與重視。"
    },
    {
      "order": 8,
      "group": "經營企劃",
      "hashtag1": "客戶體驗",
      "hashtag2": "分行轉型",
      "hashtag3": "雇主品牌​",
      "intro": "分別掌理全行通路及對外整合行銷策略規劃，如導入新興科技技術，推動業務作業流程自動化、數位通路規畫、利用資料探勘及數據分析進行客群經營等，進而驅動營運通路創新與創造顧客最佳體驗。​",
      "session": "第六屆 MA 作業處",
      "nameTw": "黃俊華",
      "nameEn": "Brian",
      "school": "國立政治大學 企業管理研究所",
      "share": "永豐的策略人才計畫，不僅是一份工作，更是一段探索成長與實現理想的旅程。最讓我印象深刻的是公司客製化的輪調訓練，依據工作性質有不同安排，有助於快速累積經驗知識及人脈網絡，利於日後專案推動。此外，我也感受到主管對我的重視，考核期的提案備受肯定，後續也受指派完成了分行通路個人化機制的建置佈署，從發想到執行，每一步都讓我成長了許多。如果你也想在職場上迅速成長，把自己的創意、理念變成現實，永豐銀行絕對是你的最佳選擇！"
    }
  ]

  //- PA
  var pa_data = [
    {
      "order": 1,
      "group": "行銷企劃",
      "hashtag1": "客群經營",
      "hashtag2": "整合服務",
      "hashtag3": "雇主品牌",
      "intro": "各項業務推動行銷企劃活動、產品創新、客群經營及服務平台創新經營，打造金融生態圈，提升客戶體驗，成為華人金融第一品牌。​​",
      "session": "第一屆 PA 零售金融處",
      "nameTw": "游善廷",
      "nameEn": "Jeremy",
      "school": "國立臺灣大學 國際企業學系",
      "share": "永豐銀行細心栽培每位策略人才，獨特的「先定崗，後輪調」培訓制度，可以讓每位策略人才先了解自己定崗單位的業務後，去串接上下游單位培養人脈建立人際關係。此外，在上下游單位學習的同時，也可以加深對合作單位業務之熟悉以利後續合作及溝通。我認為這樣的制度除了可以使往後業務往來更加流暢順利，也能讓每位策略人才具備更全方位的視野及多元的發展空間。"
    },
    {
      "order": 2,
      "group": "數位規劃",
      "hashtag1": "數位平台",
      "hashtag2": "產品創新",
      "hashtag3": "科技賦能​",
      "intro": "導入並運用多元新興數位化工具，整合各項業務進而提升各業務平台效能並持續優化行內外使用者金融服務體驗。​",
      "session": "第二屆 PA 法人金融處",
      "nameTw": "張宇文",
      "nameEn": "Yuven",
      "school": "國立臺灣大學 工商管理學系",
      "share": "永豐策略人才計畫涵蓋基礎訓練、專業能力強化、上下游單位輪調三個面向，建立全方位之人才培育。銀行業務範圍廣泛，分工詳細；透過上下游單位輪調實習，除了可以累積實作經驗與人脈，更能透過學習分工運作模式以了解未來定崗單位之定位，建立更全面的思維。計劃期間定崗於法人金融處，屬於商品單位，期間接觸綠色金融相關業務，從中了解商品單位如何於短時間彙整大量資訊，針對各單位需求及業務目標做出調整，設計出解決痛點之產品。加入永豐期間，透過定崗輪調，讓我快速累積金融產業專業知識及實務經驗。永豐提供扎實穩健的訓練及豐富的資源，有助於提升自我能力並發揮策略人才的價值。"
    },
    {
      "order": 3,
      "group": "數據分析",
      "hashtag1": "數據探索",
      "hashtag2": "客群商機",
      "hashtag3": "風險預測",
      "intro": "運用資料探索及數據分析，預測市場動態，輔助公司進行各項決策，以達到各項業務客群經營、風險控管及金融商機開發，協助銀行整體業務規模持續成長。​​",
      "session": "第二屆 PA 風險管理處",
      "nameTw": "王暄雅",
      "nameEn": "Milly",
      "school": "國立政治大學 外交學系",
      "share": "永豐策略人才的培訓課程多元，不僅僅金融專業課程，也安排簡報技巧、報告邏輯、職場溝通等軟實力教學，也因為培訓都是以小組進行，因此有很多機會能與不同部門的策略人才乃至學長姐交流學習，激發創意及學習跨單位溝通協作能力，這些都是培訓過程中意想不到的收穫！於定崗及上下游輪調期間，除了mentor手把手教學，參與專案時也有很大的發言空間，主管鼓勵創新，也很願意放手讓我們去嘗試。總而言之，傾囊相授的同事、彈性客制的輪調計畫、鼓勵創意的環境，這些都是風險管理處值得你加入的原因！"
    },
    {
      "order": 4,
      "group": "資訊專才",
      "hashtag1": "程式設計",
      "hashtag2": "創新技術",
      "hashtag3": "作業效能",
      "intro": "​進行AI模型部屬及數據結構建置工作，如應用系統設計、運作管理及數位資源整合，推動以創新技術進行自動化作業，提升各平台系統效能，進而驅動全行整體數位資訊發展。",
      "session": "第一屆 PA 資訊處",
      "nameTw": "黃泓儒",
      "nameEn": "Max",
      "school": "國立政治大學 資訊管理學系",
      "share": "透過PA一整年的專案訓練，我不僅獲得銀行全方位業務知識，更在理專課程中精進了金融見解，和永豐投資平台像是Ibrain、Shareshares的運作原理。分行輪調的經驗使我融入行員角色，深化了與客戶互動的業務技巧，並了解房信貸徵審流程。最後，透過定崗單位的專業深耕，讓我清晰地了解未來在資訊處的定位，而在數位金融處和零售金融處的輪調中，我學習到未來資訊處在執行專案時所需的跨部門協作能力。在單位定崗及各處的輪調的期間，完善的基礎教育訓練讓我更能勝任各項業務，並在未來發芽茁壯。"
    }
  ]
  // 學長姐經驗分享
  var exp_data = [
    {
      "order": "1",
      "img": "img-experience-person-1",
      "session": "第四屆 MA 綜合企劃處",
      "nameTw": "陳哲穎",
      "nameEn": "Ted",
      "school": "國立清華大學 經濟學研究所",
      "share": "完成永豐策略人才15個月的培訓後，定崗於財富金融處歷練3年，現調任總經理辦公室，主要負責永續發展相關業務，推動並透過金融核心職能對環境、社會等不同面向發揮永續影響力。永續這條路沒有終點，必須時刻關注國際永續發展趨勢並有相應作為，進而整合公司內外資源、齊心努力維持永續的經營。這幾年，我感受到永豐對於人才培育的重視，MA雖然不是條好走的路，但永豐讓你能走自己想走的路，在每一場實戰中淬煉成長，並在職涯舞台上發光發熱。"
    },
    {
      "order": "2",
      "img": "img-experience-person-2",
      "session": "第九屆 MA 綜合企劃處",
      "nameTw": "劉姿伶",
      "nameEn": "Amelia",
      "school": "國立成功大學 老年學研究所",
      "share": "「蓄積想法、累積實力，到最適合舞台發光發熱」 永豐策略人才計畫，提供全面性及有系統的金融專業與共通學程，同時也是一個不受制肘能盡現才能的舞台。培訓過程中可以實際了解前線業務並輪調至與定崗單位相關的單位熟悉業務，紮實且循序漸進地的培訓都在為未來職涯鋪路。回到定崗單位綜合企劃處後，大至提案的可行性評估，小至簡報時的邏輯與表達力都不斷地被檢視，密集且迅速的挑戰激勵成長，我深刻感受到被團隊重視、意見採納且落地執行。就算不是相關背景的你又如何，邀請想挑戰自己的你，帶上你的抱負加入永豐將期望付諸實踐吧！"
    },
    {
      "order": "3",
      "img": "img-experience-person-3",
      "session": "第七屆 MA 信託處",
      "nameTw": "夏柏雅",
      "nameEn": "Ali",
      "school": "國立中正大學 國際經濟所",
      "share": "信託處，廣含多方位的金融服務，透過多元產品創新應用，如，財產管理、員工福利、社會責任、資金調度及風險管控等，滿足各類客群的金融需求。MA扮演的角色，就是必須推動數位轉型、創新產品籌劃、營銷等重點專案外，透過平時累積跨單位合作經驗，將市場需求分析與使用者回饋，轉化為可行服務設計。永豐策略人才的培訓規劃，進行如期如質如資源的專案目標訓練，培育可落地執行的提案，這些實戰經歷將強化跳脫框架的思考能力，為個人成長提供無限可能！"
    },
    {
      "order": "4",
      "img": "img-experience-person-4",
      "session": "第十屆 MA 財富金融處",
      "nameTw": "許家晟",
      "nameEn": "Michael",
      "school": "國立政治大學 金融所",
      "share": "永豐策略人才計畫，在一開始甄選的時候就會先選定定崗的單位，非常適合已經找好志向的人。透過MA培訓計畫的15個月中，有分行的實習、定崗單位深耕及根據每位MA客製化的跨單位輪調學習，目的就在於培養全方位的金融通才。我本身是定崗在財富金融處，推行的許多專案都與理專有關，因此到前線分行實習能直接了解前線理專的痛點與想法，對於未來回到單位進行專案有極大的幫助。想要成為全方位金融專業人才，加入永豐策略人才與我們一起翻轉金融，共創美好生活！"
    },
    {
      "order": "5",
      "img": "img-experience-person-5",
      "session": "第三屆 MVP 財富金融處",
      "nameTw": "黃筱珺",
      "nameEn": "Anita",
      "school": "私立實踐大學 企業管理學系",
      "share": "大學剛畢業時對銀行工作內容還懵懵懂懂，起初憑著對投資理財的熱忱，踏入了永豐銀行財富金融處，培訓階段有具備專業能力且經驗豐富的Mentor帶領，從商品專業知識、提案能力、數位行銷技能以及專案執行皆有充足的訓練，定崗後人資也時常安排PM培訓課程，擁有比同儕更多的資源，也協助我找到職涯發展方向。"
    },
    {
      "order": "6",
      "img": "img-experience-person-6",
      "session": "第十屆 MA 零售金融處",
      "nameTw": "張芮誼",
      "nameEn": "Reiko",
      "school": "國立臺灣大學 商學研究所",
      "share": "永豐策略人才將甄選組別以銀行經營領域切分成八大組別，能明確選擇自己感興趣的單位投遞履歷，後續輪調規劃也採不同單位有客製化的安排，透過獨有的定崗單位和上下游單位交互輪調，學習專業能力的同時亦能開闊視野，接觸更多跨領域的金融知識，培養自己全方位思考的能力。在輪調過程中，Mentor除了會訂定學習計畫外，也會隨時檢視學習狀況並適時給予協助，讓策略人才都有參與專案的機會，從實做中累積經驗並從錯誤中學習調整。加入永豐的策略人才培訓計畫，一起站上展現自我能力與激發潛能的舞台！"
    },
    {
      "order": "7",
      "img": "img-experience-person-7",
      "session": "第一屆 PA 零售金融處",
      "nameTw": "楊桂淳",
      "nameEn": "Queenie",
      "school": "國立臺灣大學 財務金融學系",
      "share": "永豐策略人才的定崗輪調制度，讓你可以先設定好學習目標，再透過計畫中的輪調，到與定崗單位相關業務單位學習，幫助未來的工作發展。例如我定崗於零售金融處，便曾到數位金融處及零售管理處輪調，幫助自己接軌部門業務，同時累積跨單位跨領域的人脈、未來可以更順暢地進行合作。零售金融是產品單位，有很多機會進行跨單位合作、提案等，學習的範圍相當大，主管也相當重視PA，會給予很多學習和表現機會，２０２３年才到職的我，已經參加多項信用卡產品的重大跨部門合作專案。透過策略人才的培訓規劃及輪調學習，發揮自己的價值，並開啟未來職涯發光發熱的康莊大道！"
    },
    {
      "order": "8",
      "img": "img-experience-person-8",
      "session": "第十屆 MA 大型法金業務區",
      "nameTw": "蘇筠晴",
      "nameEn": "Stephanie",
      "school": "國立政治大學 企業管理研究所",
      "share": "永豐策略人才定崗制度，適合已經鎖定目標在法金業務深耕的我，自培訓期即可提早接觸案件，重點強化KYC、產業研究及客戶關係維護等法業必備的技能，且後續輪崗的單位亦是與法業最相關的審查及產品單位，在授管處跟著審查學長姊學習掌握案件風險點的技巧，在透過於聯貸科經驗豐富的前輩學習聯貸融資架構、包銷流程等聯貸專業知識。短短15個月培訓期，永豐的MA培訓計畫能給予我充足的資源與舞台，讓我能快速精準地累積身為一名專業法金業務所需的知識與技能並發揮所長。"
    },
    {
      "order": "9",
      "img": "img-experience-person-9",
      "session": "第九屆 MA 法人金融處",
      "nameTw": "盧昱書",
      "nameEn": "Louis",
      "school": "國立中山大學 企業管理研究所",
      "share": "永豐在綠色金融扮演領頭羊，更是行內策略主軸，擔任法金MA可以接觸當前正夯的ESG議題，輪調時學習不同部門對綠能的觀點，定崗時主管也給予參與太陽能、綠能、儲能、綠電交易等大型專案的機會，促使我在MA培訓完成後，負責碳淨零專案，成為一名稱職的碳淨零PM，獨當一面代表永豐對外倡導永續金融，從台下的學生，變成台上的講師，也有幸讓我的MA考核提案有落地機會，深刻感受到永豐對策略人才培育的重視與資源投入，創造自我及公司的無限可能。"
    },
    {
      "order": "10",
      "img": "img-experience-person-10",
      "session": "第九屆 MA 海外業務處",
      "nameTw": "陳昆鴻",
      "nameEn": "Aaron",
      "school": "國立中正大學 財務金融學研究所",
      "share": "永豐提供策略人才完整的培訓計畫，除了自身定崗單位的專業訓練，更透過與定崗單位相關的輪調單位串接學習，同步提升深度與廣度，打造全方位的金融通才；專屬的mentor，讓新鮮人可以時刻諮詢、快速掌握業務項目。目前任職於綜合企劃處的我；曾輪調至零售金融處與法人金融處，實際參與正在執行的中大型專案並協助專案落地；學習到的專業知識更能使我有效運用於跨部門溝通以及策略規劃。處內主管也十分願意給予機會，讓我經手重要業務項目，協助全行業務深化。「敢挑戰，永豐就是你的夢想伸展台！」"
    },
    {
      "order": "11",
      "img": "img-experience-person-11",
      "session": "第十屆 MA 金融市場處",
      "nameTw": "韓郁青",
      "nameEn": "Henry",
      "school": "國立政治大學 財務管理所",
      "share": "永豐策略人才需要具備統籌銀行各項業務的能力，所以最基本的便是認識銀行各單位的業務運作。永豐的MA制度安排與未來單位相關的業務部門進行輪調學習，藉由各單位輪調的淬鍊，讓ＭＡ可以在最短的時間了解不同單位的業務範疇，回到單位後，便能以更高的層次看待並進行單位策略的規劃與執行。結合大型法金業務單位與分行通路輪調的經驗後，再回到金融市場處深耕，便能更了解銀行資金的流通和運用方式。想要成為一位專業的銀行家，選擇永豐策略人才就對了！"
    },
    {
      "order": "12",
      "img": "img-experience-person-12",
      "session": "第二屆 PA 風險管理處",
      "nameTw": "曾文",
      "nameEn": "Stanley",
      "school": "<h4>University of California <br/>Department of Business Administration</h4>",
      "share": "永豐銀行對於PA提供了豐富的資源，在工作上，我有機會輪調於前中後台不同單位，這讓我完整且快速地了解了銀行內外部運作的全貌。這樣輪調安排讓我快速成長，並啟發了更多的可能性。在培訓方面，永豐的PA計畫提供了許多專屬於策略人才的課程和講座，讓我可以向不同行業的前輩學習，聆聽他們的人生經驗和成功法則，這是在學校裡所無法接觸到的。能夠有機會成為永豐策略人才的一員，讓我深感幸運，同時也激勵著我不斷地探索、學習與成長。這份經驗讓我獲益良多，也使我更有信心應對未來的挑戰。你也準備好一起加入我們挑戰自我，開創無限可能了嗎？"
    },
    {
      "order": "13",
      "img": "img-experience-person-13",
      "session": "第十屆 MA 數位金融處",
      "nameTw": "李家銘",
      "nameEn": "Leo",
      "school": "國立成功大學 財務金融研究所",
      "share": "身為數位金融處的ＭＡ，了解產品是第一件必須做到的事情，了解單位的業務邏輯之後，才能在前端有發揮的空間。如果你也想要進數位金融處，可以先問問自己，是否熟悉永豐的數位產品，或甚至於熟悉國內外同業的金融產業動態。永豐策略人才在一開始的甄選階段，就已經先選定組別，但入職的一年內會分別經歷兩次外單位輪調，過程中，也能與Mentor討論自己未來的發展及輪調方向，而單位的學長姊與主管們也都不吝嗇於給予協助與指點。當永豐準備好一切的資源與計劃，那您準備好接受挑戰自己了嗎？"
    }
  ]
