//- #jSplash
//-   img(src='images/prelogo.png')
//- .cssload-container
  .cssload-shaft1
  .cssload-shaft2
  .cssload-shaft3
  .cssload-shaft4
  .cssload-shaft5
  .cssload-shaft6
  .cssload-shaft7
  .cssload-shaft8
  .cssload-shaft9
  .cssload-shaft10

#overlayer
  .loader
    .sinopac-logo
      img(src="images/sinopac-logo.svg" alt='永豐銀行')
    .loading
      img(src="images/loading.svg")
