footer
  .fixedIcon__area
    a(href="#section-process").fixedIcon__btn
      img(src='images/CTA-apply.svg' alt="我要應徵")
      span 我要應徵
  .footer-content
    p 若有儲備幹部(MA／PA)徵選培訓相關問題，請洽永豐策略人才召募小組，
      a(href='' target='_blank') 林小姐
        span (02-8161-8195)、
      a(href='' target='_blank') 李小姐
        span (02-8161-8885)，
      br.br
      a(href='' target='_blank') E-mail：marecruit@sinopac.com
    p 本行保留隨時修改、變更、暫停或終止本活動內容之權利，並以本行活動公告為準。若有其他未盡事宜，悉依本行相關規定或解釋。
    p ©版權所有 永豐銀行 建議瀏覽器解析度1024*768
  //- p
    a(href='' target='_blank').link_block.copyright-logo-text ©版權所有
      img.sinopac-icon(src='images/sinopac_logo-icon.svg' alt="")
      | 永豐銀行
    a(href='' target='_blank').link_block 建議瀏覽器解析度 1024*768
    br.br
    a(href='' target='_blank').link_block 24小時客服專線：02-2505-9999
    br.br
    a.underline(href='https://bank.sinopac.com/MMA8/bank/service/service-index.html' target='_blank') 客服中心
    a.underline(href='https://bank.sinopac.com/sinopacBT/footer/privacy-statement.html' target='_blank') 隱私權聲明