header.header
  .wrap__inner
    .header__inner
      a.header__logo(href="https://bank.sinopac.com/sinopacBT/index.html" target='_blank' title='')
        img.header__logo-img(src='images/sinopac_logo.png' alt='永豐銀行' )
      .header__nav.nav
        a.nav__trigger
          span.nav__hamburger
        .nav__menu-wrap
          ul.nav__menu.nav__menu--links
            li.nav__item
              a.nav__link(href='#section-body1' title='body1') body1
            li.nav__item
              a.nav__link(href='#section-body2' title='body2') body2
            li.nav__item
              a.nav__link(href='#section-body3' title='body3') body3
            li.nav__item
              a.nav__link(href='#section-faq' title='FAQ') FAQ
            li.nav__item
              a.nav__link(href='#section-connection' title='聯絡我們') 聯絡我們